<h1>Edit Profile</h1>

<%= form_for(@user, url: users_profile_path, html: { method: :put }) do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :current_password %>
    <%= f.password_field :current_password, class: "form-control" %>
  </div>

  <div data-controller="disable-logout">
    <div class="mb-3">
      <%= f.label :password %>
      <%= f.password_field :password,
            class: "form-control",
            data: {
              disable_logout_target: 'password',
              action: 'input->disable-logout#toggleLogoutCheckbox'
            } %>
    </div>

    <div class="mb-3">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation,
            class: "form-control",
            data: {
              disable_logout_target: 'confirmPassword',
              action: 'input->disable-logout#toggleLogoutCheckbox'
            } %>
    </div>

    <div class="mb-3">
      <%= label_tag 'log_out_of_all_devices' do %>
        <%= check_box_tag 'log_out_of_all_devices', '1', false, data: { disable_logout_target: 'logoutCheckbox' } %>
        <%= t('.log_out_of_all_devices', default: 'Log out of all devices') %>
      <% end %>
    </div>
  </div>

  <%= f.submit "Update Profile", class: "btn btn-primary" %>
<% end %>
