<h1>Edit Profile</h1>

<%= form_for(@user, url: users_profile_path, html: { method: :put }) do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :current_password %>
    <%= f.password_field :current_password, class: "form-control" %>
  </div>

  <div data-controller="disable-keep-loggin">
    <div class="mb-3">
      <%= f.label :password %>
      <%= f.password_field :password,
            class: "form-control",
            data: {
              disable_keep_loggin_target: 'password',
              action: 'input->disable-keep-loggin#toggleKeepLogginCheckbox'
            } %>
    </div>

    <div class="mb-3">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation,
            class: "form-control",
            data: {
              disable_keep_loggin_target: 'confirmPassword',
              action: 'input->disable-keep-loggin#toggleKeepLogginCheckbox'
            } %>
    </div>

    <div class="mb-3">
      <%= label_tag 'keep_logged_in' do %>
        <%= check_box_tag 'keep_logged_in', '1', false, data: { disable_keep_loggin_target: 'keepLogginCheckbox' } %>
        <%= t('.keep_logged_in', default: 'Keep logged in on this browser?') %>
      <% end %>
    </div>
  </div>

  <%= f.submit "Update Profile", class: "btn btn-primary" %>
<% end %>
