<tr>
  <td class="text-center"><%= transaction.id %></td>
  <td class="text-center"><%= transaction.address_id %></td>
  <td><%= transaction.idempotency_key %></td>
  <td class="text-center"><%= transaction.amount %></td>
  <td><%= transaction.additional_info %></td>
</tr>
